{
  "root": true,
  "parser": "@babel/eslint-parser",
  "plugins": ["import", "unicorn"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eslint-comments/no-unused-disable": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "parserOptions": {
        "project": ["./jsconfig.json"]
      },
      "rules": {
        "yoda": "warn",
        "prettier/prettier": "warn",
        "import/no-anonymous-default-export": "error",
        "default-case": "off",
        "no-loop-func": "warn",
        "no-extra-boolean-cast": "warn",
        "no-console": "warn",
        "no-useless-escape": "warn",
        "eqeqeq": "error",
        "no-fallthrough": "warn",
        "semi": "error",
        "curly": "error",
        "no-empty-pattern": "off",
        "no-eval": "off",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-debugger": "warn",
        "no-constant-condition": "warn",
        "unicorn/numeric-separators-style": "warn",
        "ban-ts-comment": "off",
        "no-unsafe-member-access": "off",
        "no-empty-interface": "off",
        "no-unsafe-call": "off",
        "no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^(props|e|event|_)$" }
        ],
        "no-unsafe-assignment": "off",
        "no-floating-promises": "off",
        "no-unsafe-return": "off",
        "explicit-module-boundary-types": "off",
        "no-inferrable-types": "off",
        "no-misused-promises": "off",
        "no-empty-function": "off",
        "restrict-plus-operands": "off",
        "require-await": "off",
        "restrict-template-expressions": "off",
        "ban-types": "off",
        "unbound-method": "off"
      }
    }
  ]
}
