{
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 90,

  "singleQuote": true,
  "quoteProps": "consistent",
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always"
}
