[Unit]
Description=Automatically Update MAC Address
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash {{ROOT}}/scripts/tools/update-macaddress.sh

[Install]
WantedBy=multi-user.target
