[Unit]
Description=Automatically Update MAC Address
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env bash {{ROOT}}/scripts/tools/update-macaddress.sh

[Install]
WantedBy=multi-user.target
